<div class="container">
    <div class="row">
        <h5>Return to <a href="{{parent.parentTopicID}}" data-parentTopicID={{parent.parentTopicID}}>
                <button type="button" class="mt-2 child">{{parent.topicName}}</button>
            </a></h5>
    </div>
    <div class="row">
        <h1 class="mt-1 text-center header">{{header}}</h1>
    </div>
    {{!-- Written Articles --}}
    <div class="flex-row d-flex mt-1 justify-content-between">
        <div class="d-flex flex-column col-6 px-2 all-articles">
            <div class="row gx-0">
                <div class="col">
                    <h5 class=" text-center header">Written Tutorials</h5>
                </div>

            </div>
            <div class="row main-article p-4 gx-0">
                <div class="d-flex flex-row justify-content-between">
                    <h3 id="score">Score: {{mainArticle.votesSum}}</h3>
                    <div class="voting" data-tutorialID={{mainArticle.id}}>
                        <button class="voting-btn" data-voteType="1"><i class="far fa-thumbs-up"></i></button>
                        <button class="voting-btn" data-voteType="-1"><i class="far fa-thumbs-down"></i></button>
                    </div>
                </div>

                <div class="row">
                    <a href={{mainArticle.tutorialLink}} target="_blank" id="source"><button type="button"
                            id="source-btn">Source: {{mainArticle.displayLink}}</button></a>
                </div>
            </div>
            {{!-- Submit Article Box --}}
            <div class="row gx-0">
                <h5 class="mt-3 ">Don't like these articles? Add a new one here:</h3>
                    {{!-- alert triggered by bad post request --}}
                    <div class="alert alert-danger" role="alert" id="article-alert">
                        <strong>Please enter a valid url.</strong>
                        <button type="button" class="btn-close"></button>
                    </div>
                    <div class="input-group px-0">
                        <input type="text" class="form-control" placeholder="Add article url"
                            aria-label="submit-article" aria-describedby="submit-article" id="input-article"
                            data-tutorialType="article" data-topicID={{mainArticle.fk_topicID}}
                            data-userID={{mainArticle.fk_userID}}>
                        <button class="btn btn-outline-secondary" type="button" id="submit-article">Submit</button>
                    </div>
            </div>
            {{!-- Alternate Articles --}}
            <div class="alt-articles">
                {{#each altArticles}}
                <div class="row gx-0">

                    <div class="alt-article mt-3">
                        <div class="d-flex flex-row justify-content-between mt-2 px-3">
                            <h4>Score: {{votesSum}}</h4>
                            <div class="voting" data-tutorialID={{id}}>
                                <button class="alt-voting-btn" data-voteType="1"><i
                                        class="far fa-thumbs-up"></i></button>
                                <button class="alt-voting-btn" data-voteType="-1"><i
                                        class="far fa-thumbs-down"></i></button>
                            </div>
                        </div>
                        <div class="row px-3 pb-2">
                            <a href={{tutorialLink}} target="_blank"><button type="button"
                                    class="alt-source-btn">Source:
                                    {{displayLink}}</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
        {{!-- Videos --}}
        {{#if mainVideo}}
        <div class="d-flex flex-column col-6 px-2">
            <div class="col">
                <h5 class="text-center header">Video Tutorials</h5>
            </div>
            <div class="position-relative">

                <div class="voting" id="main-video-voting" data-tutorialID={{mainVideo.id}}>
                    <button class="voting-btn" data-voteType="1"><i class="far fa-thumbs-up"
                            aria-hidden="true"></i></button>
                    <button class="voting-btn" data-voteType="-1"><i class="far fa-thumbs-down"
                            aria-hidden="true"></i></button>
                </div>
                <iframe width="640" height="315" src="{{mainVideo.tutorialLink}}" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            {{!-- Submit Video Box --}}
            <div class="row gx-0">
                <h5 class="mt-3">Don't like these videos? Add a new one here:</h5>
                <div class="alert alert-danger" role="alert" id="video-alert">
                    <strong>Please enter a valid url.</strong>
                    <button type="button" class="btn-close"></button>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Add video url" aria-label="submit-video"
                        aria-describedby="submit-video" id="input-video" data-tutorialType="video"
                        data-topicID={{mainVideo.fk_topicID}} data-userID={{mainVideo.fk_userID}}>
                    <button class="btn btn-outline-secondary" type="button" id="submit-video">Submit</button>
                </div>
            </div>


            {{else}}

            <p>No video provided!</p>

            {{/if}}

            <div class="alt-videos">
                {{#each altVideos}}
                <div class="row gx-0">

                    <div class="alt-video mt-3 px-0">
                        <div class="d-flex flex-row justify-content-between mt-2 px-3">
                            <h4>Score: {{votesSum}}</h4>
                            <div class="voting" data-tutorialID={{id}}>
                                <button class="alt-voting-btn" data-voteType="1"><i
                                        class="far fa-thumbs-up"></i></button>
                                <button class="alt-voting-btn" data-voteType="-1"><i
                                        class="far fa-thumbs-down"></i></button>
                            </div>
                        </div>
                        <div class="row px-3 pb-2">
                            <a href={{tutorialLink}} target="_blank"><button type="button"
                                    class="alt-source-btn">Source:
                                    {{displayLink}}</button></a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="flex-row mt-1 mb-5">
        <div class="col">
            <h5 class="mt-4 text-center header">SubTopics</h5>
        </div>
        <div class="col-12 d-flex justify-content-around children">
            {{#each children}}
            <a href="{{id}}" data-parentTopicID={{parentTopicID}}>
                <button type="button" class="child">{{topicName}}</button>
            </a>
            {{/each}}
        </div>
    </div>




</div>
</div>